<div *ngIf="paper" class="card col-md-12 align-content-center border-info">
  <div class="card-header bg-info form-heading" style="width: 100%">Paper details
    <button class="float-right btn btn-sm btn-warning" (click)="download()">Download
      <span class="float-right fa fa-file-pdf-o icon-pad pointer"></span></button>
  </div>
  <div class="card-body">
    <h3>Title</h3>
    <p>{{paper.title}}</p>
    <h3>Abstract</h3>
    <p>{{paper.paperAbstract}}</p>
    <h3>Keywords</h3>
    <p>{{paper.keywords}}</p>
    <h3>Scientific Field</h3>
    <p>{{paper.scienceField.title}}
  </div>
</div>
<div class="row">
  <div class="col-md-8"></div>
  <form class="col-md-8 form" (ngSubmit)="submitFormatAnswer()" #format="ngForm">
    <h2 class="form-heading">Is This Paper Formated </h2>
    <div class="" *ngFor="let field of formFields">
      <label *ngIf="field.name === 'isFormated'">Ok</label>
      <input *ngIf="field.name === 'isFormated'" type="radio" class="form-control" [(ngModel)]="field.value.value"
             name="Formated" value=true>
      <label *ngIf="field.name === 'isFormated'">Not OK</label>
      <input *ngIf="field.name === 'isFormated'" type="radio" class="form-control" [(ngModel)]="field.value.value"
             name="Not Formated" value=false>
      <label *ngIf="field.name === 'formatComment'">Add Comment for format correction</label>
      <textarea *ngIf="field.name === 'formatComment'" class="form-control" [(ngModel)]="field.value.value"
                name="abstract" required></textarea>

    </div>
    <br>
    <button id="formatBtn" [disabled]="format.form.invalid" class="btn btn-lg btn-primary btn-block"
            type="submit">Submit
    </button>
  </form>
</div>
